:root {
    --un: #d9ba82;
    --deux: #d9aa55;
    --trois: #42474a;
    --quatre: #bfbfbd;
    --cinq: #ebeff2;
}

body {background: var(--trois);
    background: linear-gradient(90deg, var(--quatre) 0%, var(--trois) 100%);}