:root {
    --un: #d9ba82;
    --deux: #d9aa55;
    --trois: #42474a;
    --quatre: #bfbfbd;
    --cinq: #ebeff2;
}

body 
{background: var(--un); background: linear-gradient(140deg, var(--un) 0%, var(--deux) 100%); color: var(--trois;)
}

.container1 {background: var(--cinq); border: 1px solid var(--quatre); width: 70%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}