:root {
    --un: #d9ba82;
    --deux: #d9aa55;
    --trois: #42474a;
    --quatre: #bfbfbd;
    --cinq: #ebeff2;
}

body 
{background: var(--un); background: linear-gradient(140deg, var(--un) 0%, var(--deux) 100%);
}

.container1 {background: var(--quatre); border: 2px solid var(--cinq); width: 70%; margin: auto auto;}