:root {
    --un: #d9ba82;
    --deux: #d9aa55;
    --trois: #42474a;
    --quatre: #bfbfbd;
    --cinq: #ebeff2;
}

body {
  background-color: #111;
}

canvas {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
